---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---



{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

...
{% if post.doi %}
  <p class="publication-doi">
    DOI: <a href="{{ post.doi }}" target="_blank">{{ post.doi }}</a>
  </p>
{% endif %}

...
{% if post.authors %}
  <p class="publication-authors">
    Authors: {{ post.authors }}
  </p>
{% endif %}
...


{% include base_path %}

<!-- 筛选出 SIM 类的文章 -->
{% assign sim_posts = site.publications | where: "pub_category", "Structured illumination microscopy" %}
{% if sim_posts.size > 0 %}
  <h2>SIM Publications</h2>
  {% for post in sim_posts reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- 筛选出 SMLM 类的文章 -->
{% assign smlm_posts = site.publications | where: "pub_category", "Single-molecule localization miscroscopy" %}
{% if smlm_posts.size > 0 %}
  <h2>SMLM Publications</h2>
  {% for post in smlm_posts reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
